<body class="is-boxed has-animations body-style">
<div>
  <header class="site-header">
    <div class="container">
      <div class="site-header-inner">
        <div class="brand header-brand">
          <h1 class="m-0">
<!--            <a href="#">-->
              <%#= image_tag 'logo.svg', alt: 'Blue logo' %>
<!--            </a>-->
          </h1>
        </div>
      </div>
    </div>
  </header>

  <main>
    <section class="hero">
      <div class="hero-left-decoration is-revealing"></div>
      <div class="hero-right-decoration is-revealing"></div>
      <div class="container">
        <div class="hero-inner">
          <div class="hero-copy">
            <h1 class="hero-title mt-0 is-revealing">Speed OSS</h1>
            <p class="hero-paragraph is-revealing">Do More Work, Faster.</p>
            <p class="hero-paragraph is-revealing">Leverage the open source community to incentivize or monetize work.</p>
            <p class="hero-cta mb-0 is-revealing">
              <%= link_to login_path, class: 'button button-primary button-shadow' do %>
                <span>Sign In With Github</span>
              <% end %>
            </p>
          </div>
          <div class="hero-illustration">
          </div>
        </div>
      </div>
    </section>

<!--    <section class="clients section">-->
<!--      <div class="container">-->
<!--        <div class="clients-inner section-inner has-top-divider">-->
<!--          <div class="container-sm">-->
<!--            <ul class="list-reset mb-0">-->
<!--              <li class="is-revealing">-->
                <%#= image_tag 'facebook-logo.svg', alt: 'Facebook' %>
<!--              </li>-->
<!--              <li class="is-revealing">-->
                <%#= image_tag 'tinder-logo.svg', alt: 'Tinder' %>
<!--              </li>-->
<!--              <li class="is-revealing">-->
                <%#= image_tag 'airbnb-logo.svg', alt: 'Airbnb' %>
<!--              </li>-->
<!--              <li class="is-revealing">-->
                <%#= image_tag 'microsoft-logo.svg', alt: 'Microsoft' %>
<!--              </li>-->
<!--              <li class="is-revealing">-->
                <%#= image_tag 'hubspot-logo.svg', alt: 'Hubspot' %>
<!--              </li>-->
<!--            </ul>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </section>-->

    <section class="features section text-center">
      <div class="container">
        <div class="features-inner section-inner has-top-divider">
          <div class="features-header text-center">
            <div class="container-sm">
              <h2 class="section-title mt-0">Code the way you want.</h2>
              <p class="section-paragraph mb-0">Add rewards to issues you don't want to solve. Solve the ones you do - and get paid for it.</p>
            </div>
          </div>
          <div class="features-wrap">
            <div class="feature is-revealing">
              <div class="feature-inner">
                <div class="feature-icon">

                  <%= image_tag 'feature-icon-01.svg', alt: 'Support' %>
                </div>
                <h4 class="feature-title">Contribute</h4>
                <p class="text-sm">Contribute to Open Source. Get Paid.</p>
              </div>
            </div>
            <div class="feature is-revealing">
              <div class="feature-inner">
                <div class="feature-icon">
                  <%= image_tag 'feature-icon-02.svg', alt: 'Tinder' %>
                </div>
                <h4 class="feature-title">Fund</h4>
                <p class="text-sm">Fund An Issue. Get it solved. Grow Your Project.</p>
              </div>
            </div>
<!--            <div class="feature is-revealing">-->
<!--              <div class="feature-inner">-->
<!--                <div class="feature-icon">-->
                  <%#= image_tag 'feature-icon-03.svg', alt: 'Tinder' %>
<!--                </div>-->
<!--                <h4 class="feature-title">Support OSS</h4>-->
<!--                <p class="text-sm">Financially support the OSS projects that you use most.</p>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="feature is-revealing">-->
<!--              <div class="feature-inner">-->
<!--                <div class="feature-icon">-->
                  <%#= image_tag 'feature-icon-04.svg', alt: 'Tinder' %>
<!--                </div>-->
<!--                <h4 class="feature-title">Software Engineering On Demand</h4>-->
<!--                <p class="text-sm">Augment Your Team's Workflow. Save time on non-core tasks, build out interesting features, squash pesky bugs. Create space for your core team to focus on the right problems.</p>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
        </div>
      </div>
    </section>

    <section class="features-tabs section">
      <div class="container">
        <div class="features-tabs-inner section-inner has-top-divider">
          <div class="tabs-container">
            <ul class="tabs-links">
              <li class="is-revealing">
                <a href="#tab-1" class="tab-link is-active">
                  <%= image_tag 'tabs-icon-01.svg', alt: 'Manage' %>
                  <span class="h4 m-0">Solve your Github Issues</span>
                </a>
              </li>
              <li class="is-revealing">
                <a href="#tab-2" class="tab-link">
                  <%= image_tag 'tabs-icon-02.svg', alt: 'Earn' %>
                  <span class="h4 m-0">Hire Global Talent</span>
                </a>
              </li>
              <li class="is-revealing">
                <a href="#tab-3" class="tab-link">
                  <%= image_tag 'tabs-icon-03.svg', alt: 'Support' %>
                  <span class="h4 m-0">Support OSS</span>
                </a>
              </li>
            </ul>
            <div class="tabs-content">
              <div id="tab-1" class="tab-panel is-active">
                <h2>Github Issue Management</h2>
                <p>80% of the code running in production at enterprises today is open source. When a critical issue comes up, use Speed to get it solved right away.</p>
                <p class="mb-0">Save time on non-core tasks, build out interesting features, squash pesky bugs. Create space for your core team to focus on the right problems.</p>
              </div>
              <div id="tab-2" class="tab-panel">
                <h2>Hire Global Talent</h2>
                <p>Speed include designers and developers working around the world. Get to to know potential talent through the rewards you create. Can you think of a better way to vet talent?</p>
<!--                <p class="mb-0">Share Speed with Github Issue creators and have them add rewards to the issues they create.</p>-->
              </div>/
              <div id="tab-3" class="tab-panel">
                <h2>Support the software you use</h2>
                <p>Kickstart interest on your open source project by posting on Speed where thousands of developers will see what you’re building.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="testimonials section">
      <div class="container">
        <div class="testimonials-inner section-inner">
          <div class="testimonials-header text-center text-light">
            <h2 class="section-title mt-0">Testimonials</h2>
          </div>
          <div class="testimonials-wrap">
            <div class="testimonial text-sm is-revealing">
              <div class="testimonial-inner">
                <div class="testimonial-main">
                  <div class="testimonial-body">
                    <p>We had a bug in production coming from an open source library we were using. We immediately posted a Github Issue but it wasn't getting solved. Then, we tried Speed. Literally the same day we put a reward, it was solved. Simply remarkable! AND we feel great contributing back to the open source community!</p>
                  </div>
                </div>
                <div class="testimonial-footer">
                  <div class="testimonial-name"><span>Julian Attila</span></div>
                </div>
              </div>
            </div>
            <div class="testimonial text-sm is-revealing">
              <div class="testimonial-inner">
                <div class="testimonial-main">
                  <div class="testimonial-body">
                    <p>We started using Speed to close outstanding Github Issues on open source projects. But then, we ran an experiment: use Speed for our company's own Github Issue. We were able to get through our entire backlog in no time without hiring another engineer. Speed has become a major part of our engineering workforce.</p>
                  </div>
                </div>
                <div class="testimonial-footer">
                  <div class="testimonial-name"><span>David Bene</span></div>
                </div>
              </div>
            </div>
            <div class="testimonial text-sm is-revealing">
              <div class="testimonial-inner">
                <div class="testimonial-main">
                  <div class="testimonial-body">
                    <p>On the first day using Speed I made $400 solving Github Issues on my favorite Github repos! Great for someone like me who doesn't have a full time job.</p>
                  </div>
                </div>
                <div class="testimonial-footer">
                  <div class="testimonial-name"><span>Christina Gaviria</span></div>
                </div>
              </div>
            </div>
<!--            <div class="testimonial text-sm is-revealing">-->
<!--              <div class="testimonial-inner">-->
<!--                <div class="testimonial-main">-->
<!--                  <div class="testimonial-body">-->
<!--                    <p>I’ve read a ton of blog posts about how some startups hit this milestone with ease. They came up with an amazing idea that “just clicked”, made!</p>-->
<!--                  </div>-->
<!--                </div>-->
<!--                <div class="testimonial-footer">-->
<!--                  <div class="testimonial-name"><a href="#">@mikesmith</a></div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="testimonial text-sm is-revealing">-->
<!--              <div class="testimonial-inner">-->
<!--                <div class="testimonial-main">-->
<!--                  <div class="testimonial-body">-->
<!--                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Eleifend donec pretium vulputate sapien. Quisque egestas diam in arcu cursus euismod quis.</p>-->
<!--                  </div>-->
<!--                </div>-->
<!--                <div class="testimonial-footer">-->
<!--                  <div class="testimonial-name"><a href="#">@mikesmith</a></div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="testimonial text-sm is-revealing">-->
<!--              <div class="testimonial-inner">-->
<!--                <div class="testimonial-main">-->
<!--                  <div class="testimonial-body">-->
<!--                    <p>I’ve read a ton of blog posts about how some startups hit this milestone with ease. They came up with an amazing idea that “just clicked”, made!</p>-->
<!--                  </div>-->
<!--                </div>-->
<!--                <div class="testimonial-footer">-->
<!--                  <div class="testimonial-name"><a href="#">@mikesmith</a></div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="testimonial text-sm is-revealing">-->
<!--              <div class="testimonial-inner">-->
<!--                <div class="testimonial-main">-->
<!--                  <div class="testimonial-body">-->
<!--                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Eleifend donec pretium vulputate sapien. Quisque egestas diam in arcu cursus euismod quis.</p>-->
<!--                  </div>-->
<!--                </div>-->
<!--                <div class="testimonial-footer">-->
<!--                  <div class="testimonial-name"><a href="#">@mikesmith</a></div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
          </div>
        </div>
      </div>
    </section>

<!--    <section class="pricing section">-->
<!--      <div class="container">-->
<!--        <div class="pricing-inner section-inner">-->
<!--          <h2 class="section-title mt-0 text-center">Pricing</h2>-->
<!--          <div>-->
<!--            <div class="pricing-tables-wrap">-->
<!--              <div class="pricing-table is-revealing">-->
<!--                <div class="pricing-table-inner">-->
<!--                  <div class="pricing-table-main">-->
<!--                    <div class="pricing-table-header mb-24 pb-24">-->
<!--                      <div class="pricing-table-title h4 mt-0 mb-16">Startup</div>-->
<!--                      <div class="pricing-table-price"><span class="pricing-table-price-currency">$</span><span class="pricing-table-price-amount h1">29</span>/m</div>-->
<!--                    </div>-->
<!--                    <ul class="pricing-table-features list-reset text-xs">-->
<!--                      <li>-->
<!--                        <span>Lorem ipsum dolor sit amet</span>-->
<!--                      </li>-->
<!--                      <li>-->
<!--                        <span>Lorem ipsum dolor sit amet</span>-->
<!--                      </li>-->
<!--                      <li>-->
<!--                        <span>Lorem ipsum dolor sit amet</span>-->
<!--                      </li>-->
<!--                      <li>-->
<!--                        <span>Lorem ipsum dolor sit amet</span>-->
<!--                      </li>-->
<!--                    </ul>-->
<!--                  </div>-->
<!--                  <div class="pricing-table-cta">-->
<!--                    <a class="button button-secondary button-shadow button-block" href="#">Get started</a>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="pricing-table is-revealing">-->
<!--                <div class="pricing-table-inner">-->
<!--                  <div class="pricing-table-main">-->
<!--                    <div class="pricing-table-header mb-24 pb-24">-->
<!--                      <div class="pricing-table-title h4 mt-0 mb-16">Enterprise</div>-->
<!--                      <div class="pricing-table-price"><span class="pricing-table-price-currency">$</span><span class="pricing-table-price-amount h1">49</span>/m</div>-->
<!--                    </div>-->
<!--                    <ul class="pricing-table-features list-reset text-xs">-->
<!--                      <li>-->
<!--                        <span>Lorem ipsum dolor sit amet</span>-->
<!--                      </li>-->
<!--                      <li>-->
<!--                        <span>Lorem ipsum dolor sit amet</span>-->
<!--                      </li>-->
<!--                      <li>-->
<!--                        <span>Lorem ipsum dolor sit amet</span>-->
<!--                      </li>-->
<!--                      <li>-->
<!--                        <span>Lorem ipsum dolor sit amet</span>-->
<!--                      </li>-->
<!--                    </ul>-->
<!--                  </div>-->
<!--                  <div class="pricing-table-cta">-->
<!--                    <a class="button button-primary button-shadow button-block" href="#">Get started</a>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="pricing-faqs container-sm is-revealing">-->
<!--            <h4 class="mt-40 mb-32">FAQs</h4>-->
<!--            <ul class="accordion">-->
<!--              <li>-->
<!--                <div class="accordion-title">-->
<!--                  <span>In a professional context it often happens that private?</span>-->
<!--                  <div class="accordion-icon"></div>-->
<!--                </div>-->
<!--                <div class="accordion-body">-->
<!--                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>-->
<!--                </div>-->
<!--              </li>-->
<!--              <li>-->
<!--                <div class="accordion-title">-->
<!--                  <span>Lorem ipsum dolor sit amet, consectetur</span>-->
<!--                  <div class="accordion-icon"></div>-->
<!--                </div>-->
<!--                <div class="accordion-body">-->
<!--                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Ut enim ad minim veniam semper. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>-->
<!--                </div>-->
<!--              </li>-->
<!--              <li>-->
<!--                <div class="accordion-title">-->
<!--                  <span>In a professional context it often happens that private?</span>-->
<!--                  <div class="accordion-icon"></div>-->
<!--                </div>-->
<!--                <div class="accordion-body">-->
<!--                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>-->
<!--                </div>-->
<!--              </li>-->
<!--              <li>-->
<!--                <div class="accordion-title">-->
<!--                  <span>Lorem ipsum dolor sit amet, consectetur</span>-->
<!--                  <div class="accordion-icon"></div>-->
<!--                </div>-->
<!--                <div class="accordion-body">-->
<!--                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Ut enim ad minim veniam semper. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>-->
<!--                </div>-->
<!--              </li>-->
<!--            </ul>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </section>-->

    <section class="cta section">
      <div class="container">
        <div class="cta-inner section-inner is-revealing">
          <h3 class="section-title mt-0">Join the community.</h3>
          <div class="cta-cta">
            <%= link_to login_path, class: 'button button-primary button-shadow' do %>
              <span>Sign In With Github</span>
            <% end %>
          </div>
        </div>
      </div>
    </section>
  </main>

  <footer class="site-footer">
    <div class="container">
      <div class="site-footer-inner">
        <div class="brand footer-brand">
<!--          <a href="#">-->
            <%#= image_tag 'logo.svg', alt: 'Speed Logo' %>
<!--          </a>-->
        </div>
        <ul class="footer-links list-reset">
          <li>
            <a href="mailto:info@speedoss.com">Email Us</a>
          </li>
          <li>
            <a href="https://www.iubenda.com/privacy-policy/99018119">Privacy Policy</a>
          </li>
          <li>
            <a href="https://www.iubenda.com/privacy-policy/99018119/cookie-policy">Cookie Policy</a>
          </li>
<!--          <li>-->
<!--            <a href="#">Support</a>-->
<!--          </li>-->
        </ul>
        <ul class="footer-social-links list-reset">
          <li>
            <a href="#">
              <span class="screen-reader-text">Facebook</span>
              <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg">
                <path d="M6.023 16L6 9H3V6h3V4c0-2.7 1.672-4 4.08-4 1.153 0 2.144.086 2.433.124v2.821h-1.67c-1.31 0-1.563.623-1.563 1.536V6H13l-1 3H9.28v7H6.023z" fill="#FFF"/>
              </svg>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="screen-reader-text">Twitter</span>
              <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg">
                <path d="M16 3c-.6.3-1.2.4-1.9.5.7-.4 1.2-1 1.4-1.8-.6.4-1.3.6-2.1.8-.6-.6-1.5-1-2.4-1-1.7 0-3.2 1.5-3.2 3.3 0 .3 0 .5.1.7-2.7-.1-5.2-1.4-6.8-3.4-.3.5-.4 1-.4 1.7 0 1.1.6 2.1 1.5 2.7-.5 0-1-.2-1.5-.4C.7 7.7 1.8 9 3.3 9.3c-.3.1-.6.1-.9.1-.2 0-.4 0-.6-.1.4 1.3 1.6 2.3 3.1 2.3-1.1.9-2.5 1.4-4.1 1.4H0c1.5.9 3.2 1.5 5 1.5 6 0 9.3-5 9.3-9.3v-.4C15 4.3 15.6 3.7 16 3z" fill="#FFF"/>
              </svg>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="screen-reader-text">Google</span>
              <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg">
                <path d="M7.9 7v2.4H12c-.2 1-1.2 3-4 3-2.4 0-4.3-2-4.3-4.4 0-2.4 2-4.4 4.3-4.4 1.4 0 2.3.6 2.8 1.1l1.9-1.8C11.5 1.7 9.9 1 8 1 4.1 1 1 4.1 1 8s3.1 7 7 7c4 0 6.7-2.8 6.7-6.8 0-.5 0-.8-.1-1.2H7.9z" fill="#FFF"/>
              </svg>
            </a>
          </li>
        </ul>
        <div class="footer-copyright">
          © 2019 Speed Inc. All Rights Reserved.
        </div>
      </div>
    </div>
  </footer>
</div>

<script> (function () {
    const doc = document.documentElement

    doc.classList.remove('no-js');
    doc.classList.add('js');

    // Reveal animations
    if (document.body.classList.contains('has-animations')) {
        /* global ScrollReveal */
        const sr = window.sr = ScrollReveal()

        sr.reveal('.hero-title, .hero-paragraph, .hero-cta', {
            delay: 150,
            duration: 1000,
            distance: '60px',
            easing: 'cubic-bezier(0.215, 0.61, 0.355, 1)',
            origin: 'bottom',
            interval: 150
        })

        sr.reveal('.hero-right-decoration', {
            duration: 1000,
            distance: '40px',
            easing: 'cubic-bezier(0.215, 0.61, 0.355, 1)',
            origin: 'top'
        })

        sr.reveal('.hero-left-decoration', {
            duration: 1000,
            distance: '40px',
            easing: 'cubic-bezier(0.215, 0.61, 0.355, 1)',
            origin: 'bottom'
        })

        sr.reveal('.clients li', {
            delay: 300,
            duration: 1000,
            rotate: {
                y: 50
            },
            easing: 'cubic-bezier(0.215, 0.61, 0.355, 1)',
            interval: 150
        })

        sr.reveal('.feature, .tabs-links li, .testimonial, .pricing-table, .pricing-faqs, .cta-inner', {
            duration: 600,
            distance: '40px',
            easing: 'cubic-bezier(0.215, 0.61, 0.355, 1)',
            interval: 100,
            origin: 'bottom',
            viewFactor: 0.2
        })
    }

    // Accordion component
    const accordionEl = document.getElementsByClassName('accordion-title')

    if (accordionEl.length) {
        for (let i = 0; i < accordionEl.length; i++) {
            accordionEl[i].addEventListener('click', function () {
                this.parentNode.classList.toggle('is-open')
                const panel = this.nextElementSibling
                if (panel.style.maxHeight) {
                    panel.style.maxHeight = null
                } else {
                    panel.style.maxHeight = `${panel.scrollHeight}px`
                }
            })
        }
    }

    // Tabs component
    const tabLinksAll = document.getElementsByClassName('tab-link')

    if (tabLinksAll.length) {
        for (let i = 0; i < tabLinksAll.length; i++) {
            tabLinksAll[i].addEventListener('click', function (e) {
                e.preventDefault()
                let tabLinksContainer = tabLinksAll[i].parentNode.parentNode
                let tabPanels = tabLinksContainer.nextElementSibling.getElementsByClassName('tab-panel')
                let tabLinks = tabLinksContainer.getElementsByClassName('tab-link')
                // Remove is-active class from all links and panels
                for (let i = 0; i < tabLinks.length; i++) {
                    tabLinks[i].classList.remove('is-active')
                }
                for (let i = 0; i < tabPanels.length; i++) {
                    tabPanels[i].classList.remove('is-active')
                }
                // Get the ID of panel to display
                let tabID = this.getAttribute('href')
                // Add is-active class to matching link and panel
                tabLinksAll[i].classList.add('is-active')
                document.querySelector(tabID).classList.add('is-active')
            })
        }
    }
}())
</script>
<script type="text/javascript">
    var _iub = _iub || [];
    _iub.csConfiguration = {"lang":"en","siteId":1488667,"cookiePolicyId":99018119 };
</script><script type="text/javascript" src="//cdn.iubenda.com/cookie_solution/safemode/iubenda_cs.js" charset="UTF-8" async></script>
<script type="text/javascript" src="https://cdn.iubenda.com/consent_solution/iubenda_cons.js"></script><script type="text/javascript">_iub.cons.init({  api_key: "5xqFyXj7TP16r0ndSxGYuC1yXsD9YjZJ"});</script>
</body>
