<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Speed</title>
    <%= csrf_meta_tags %>

    <%= render 'layouts/favicons' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="turbolinks-cache-control" content="no-preview">
    <meta name="Description" content="Untangle your GitHub Notifications">

    <link rel="preconnect" href="https://api.github.com">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-132339784-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', ENV['GA_ANALYTICS_ID']);
    </script>

    <% if Rails.application.secrets.bugsnag_js_api_key.present? %>
      <script src="//d2wy8f7a9ursnm.cloudfront.net/v4/bugsnag.min.js"></script>
      <script>window.bugsnagClient = bugsnag({ apiKey: '<%= Rails.application.secrets.bugsnag_js_api_key %>', releaseStage: '<%= ENV["RAILS_ENV"] %>' })</script>
    <% end %>

    <%= stylesheet_link_tag  current_theme, media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

    <meta property="og:title" content="Speed">
    <meta property="og:description" content="Add Bounties to Github Issues">
    <meta property="og:image" content="<%= asset_url 'app-icon.png' %>">
    <meta property="og:url" content="<%= root_url %>">
    <meta property="og:type" content="article" />
    <meta property="og:site_name" content="Octobox" />

    <meta name="twitter:card" content="summary">
    <meta name="twitter:creator" content="teabass">
  </head>

  <body>
    <% if logged_in? %>
      <div class="flex-header">
        <%= render 'layouts/header' %>
      </div>
    <% end %>

    <%= flash_messages %>

    <%= yield %>

    <% if logged_in? %>
      <%= render 'notifications/search-help' %>
    <% end %>

    <% if Rails.env.production? && Rails.application.secrets.google_analytics_id.present? %>
      <script>
        if (typeof ga === 'function') { ga('send', 'pageview', location.pathname+location.search) }
      </script>
    <% end %>
  </body>
</html>
