<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Speed</title>
    <%= csrf_meta_tags %>

    <%= render 'layouts/favicons' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="turbolinks-cache-control" content="no-preview">
    <meta name="Description" content="Untangle your GitHub Notifications">

    <link rel="preconnect" href="https://api.github.com">

    <% if Rails.application.secrets.bugsnag_js_api_key.present? %>
      <script src="//d2wy8f7a9ursnm.cloudfront.net/v4/bugsnag.min.js"></script>
      <script>window.bugsnagClient = bugsnag({ apiKey: '<%= Rails.application.secrets.bugsnag_js_api_key %>', releaseStage: '<%= ENV["RAILS_ENV"] %>' })</script>
    <% end %>

    <!--    https://gist.github.com/giangnguyennet/75533a4537cd01121938a515a26b262c-->
    <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', '<%= ENV["GA_ANALYTICS_ID"] %>', 'auto');
    </script>

    <!--    Scripts from https://www.iubenda.com/en/flow/1488667 -->
    <script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
    <script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
    <script type="text/javascript">
        var _iub = _iub || [];
        _iub.csConfiguration = {"lang":"en","siteId":1488667,"cookiePolicyId":99018119 };
    </script><script type="text/javascript" src="//cdn.iubenda.com/cookie_solution/safemode/iubenda_cs.js" charset="UTF-8" async></script>
    <script type="text/javascript" src="https://cdn.iubenda.com/consent_solution/iubenda_cons.js"></script><script type="text/javascript">_iub.cons.init({  api_key: "5xqFyXj7TP16r0ndSxGYuC1yXsD9YjZJ"});</script>

    <!--    frontend styling-->
    <link href="https://fonts.googleapis.com/css?family=Oxygen:400,700|Arimo:400,700" rel="stylesheet">
    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>

    <%= stylesheet_link_tag  current_theme, media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

    <meta property="og:title" content="Speed">
    <meta property="og:description" content="Add Bounties to Github Issues">
    <meta property="og:image" content="<%= asset_url 'source_code.svg' %>">
    <meta property="og:url" content="<%= root_url %>">
    <meta property="og:type" content="article" />
    <meta property="og:site_name" content="Octobox" />

    <meta name="twitter:card" content="summary">
    <meta name="twitter:creator" content="teabass">
  </head>

  <body class="is-boxed has-animations">
    <% if logged_in? %>
      <div class="flex-header">
        <%= render 'layouts/header' %>
      </div>
    <% end %>

    <%= flash_messages %>

    <%= yield %>

    <% if logged_in? %>
      <%= render 'notifications/search-help' %>
    <% end %>

    <% if Rails.env.production? && Rails.application.secrets.google_analytics_id.present? %>
      <script>
        if (typeof ga === 'function') { ga('send', 'pageview', location.pathname+location.search) }
      </script>
    <% end %>
  </body>
</html>
